<app-toast />
<section class="w-screen h h-auto flex justify-center items-center lg:flex-row flex-col relative gap-4"
    >
    <div class="overlay"></div>
    <article
        class="flex flex-col justify-center xl:max-w-xl md:max-w-5xl sm:max-w-2xl bg-white px-4 sm:px-10 z-10 w-full xl:py-20 py-10 border-r-8 border-blue-300 lg:rounded-r-2xl  lg:h-screen bg-azul-claro w-[400px] sm:w-[360px] md:w-[480px] lg:w-[500px] al my-10 sm:my-0 article-main mt-10">
        <a href="/">
            <div class="flex flex-row gap-1 items-center absolute top-0 left-0 p-4"><img
                    src="img/icons/blueBackIcon.svg" width="36" height="36" alt=""> <span
                    class="font-bold text-blue-500 hidden sm:block">Voltar</span></div>
        </a>
        <div class="flex flex-col justify-center items-center gap-2 mb-6"> <a href="https://modalgr.io/" target="_blank"> <img src="img/logo-modal.png" width="100"
                height="70" alt=""></a>
            <p class="font-bold text-2xl sm:text-3xl noto-sans-bold text-blue-400">Registro</p>
        </div>
        <div class="flex flex-col gap-2 mb-7">
            <input type="text" [(ngModel)]="nome" (ngModelChange)="formatarNome()"
                class="border border-2 border-blue-300 rounded-lg py-2 px-4 placeholder-blue-400"
                placeholder="Digite o Nome" maxlength="150"
                oninput="this.value = this.value.replace(/[^a-zA-ZÀ-ÿ\s]/g, '')" />

            <input [(ngModel)]="cpf" (input)="formatarCPF($event)" (keydown)="somenteNumeros($event)"
                class="border border-2 border-blue-300 rounded-lg py-2 px-4 placeholder-blue-400"
                placeholder="Digite o CPF" maxlength="14" />

            <input type="date" [(ngModel)]="dataNascimento"
                class="border border-2 border-blue-300 rounded-lg py-2 px-4 text-blue-400 data-input"
                placeholder="Digite a Data de Nascimento" />

            <input type="email" [(ngModel)]="email"
                class="border border-2 border-blue-300 rounded-lg py-2 px-4 placeholder-blue-400"
                placeholder="Digite o E-mail" />

            <input type="text" [(ngModel)]="cep" (ngModelChange)="consultarCEP()"
                class="border border-2 border-blue-300 rounded-lg py-2 px-4 placeholder-blue-400"
                placeholder="Digite o CEP" maxlength="10" (input)="formatarCEP($event); consultarCEP()"
                (keydown)="somenteNumeros($event)" />
        </div>

        <button (click)="cadastrar()"
            class="py-2 sm:py-2 px-16 bg-blue-300 text-base sm:text-lg rounded-xl flex flex-row gap-3 hover-group noto-sans-semi justify-center button-c-register">
            Cadastrar
        </button>
    </article>

    <article class="w-full flex justify-center mb-16 article-table">
        <div  class="table-responsive">
            <div *ngIf="dados.length > 0" class="mt-6 px-10">
                <table class="min-w-full text-center text-sm bg-white border-4 border-orange-400 za md:max-w-[200px]">
                    <thead class="bg-azul-escuro text-white rounded-2xl px-2">
                        <tr>
                            <th class="px-4 py-2 bg-azul-escuro"></th>
                            <th *ngFor="let dado of dados; let i = index" class="px-4 py-2">Pessoa {{ i + 1 }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="px-4 py-2 bg-azul-escuro text-white font-bold">Nome</td>
                            <td *ngFor="let dado of dados" class="border-b px-4 py-2">{{ dado.nome }}</td>
                        </tr>
                        <tr>
                            <td class="px-4 py-2 bg-azul-escuro text-white font-bold">CPF</td>
                            <td *ngFor="let dado of dados" class="border-b px-4 py-2">{{ dado.cpf }}</td>
                        </tr>
                        <tr>
                            <td class="px-4 py-2 bg-azul-escuro text-white font-bold">Idade</td>
                            <td *ngFor="let dado of dados" class="border-b px-4 py-2">{{ calcularIdade(dado.dataNascimento) }}
                            </td>
                        </tr>
                        <tr>
                            <td class="px-4 py-2 bg-azul-escuro text-white font-bold">E-mail</td>
                            <td *ngFor="let dado of dados" class="border-b px-4 py-2">{{ dado.email }}</td>
                        </tr>
                        <tr>
                            <td class="px-4 py-2 bg-azul-escuro text-white font-bold">CEP</td>
                            <td *ngFor="let dado of dados" class="border-b px-4 py-2">{{ dado.cep }}</td>
                        </tr>
                        <tr>
                            <td class="px-4 py-2 bg-azul-escuro text-white font-bold">Logradouro</td>
                            <td *ngFor="let dado of dados" class="border-b px-4 py-2">{{ dado.logradouro }}</td>
                        </tr>
                        <tr>
                            <td class="px-4 py-2 bg-azul-escuro text-white font-bold">Bairro</td>
                            <td *ngFor="let dado of dados" class="border-b px-4 py-2">{{ dado.bairro }}</td>
                        </tr>
                        <tr>
                            <td class="px-4 py-2 bg-azul-escuro text-white font-bold">Cidade</td>
                            <td *ngFor="let dado of dados" class="border-b px-4 py-2">{{ dado.cidade }}</td>
                        </tr>
                        <tr>
                            <td class="px-4 py-2 bg-azul-escuro text-white font-bold">Estado</td>
                            <td *ngFor="let dado of dados" class="border-b px-4 py-2">{{ dado.estado }}</td>
                        </tr>
                        <tr>
                            <td class="px-4 py-2 bg-red-500 text-white font-bold">Deletar</td>
                            <td *ngFor="let dado of dados; let i = index" class="border-b px-4 py-2">
                                <button (click)="deletar(i)" class=" trash-hover"><img src="img/icons/lixeiraIcon.svg" alt=""></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </article>
</section>