<app-header/>
<section class="bg-cinza-claro w-screen h-screen flex justify-center items-center frex-row ">
    <article
        class="flex flex-row justify-center xl:justify-between 2xl:max-w-7xl xl:max-w-6xl md:max-w-5xl sm:max-w-2xl gap-8 sm:gap-12">
        <div class="xl:text-4xl sm:text-3xl text-2xl flex items-center max-w-xl description za">
            <div>
                <p
                    class="mb-5 text-white font-bold px-2 py-2 bg-azul-escuro w-auto text-center rounded-2xl items-center noto-sans-bold">
                    Desafio Técnico</p>
                <p class="mb-4 sm:mb-8 xl:text-lg sm:text-base text-sm font-medium noto-sans text-center">
                    O sistema deve validar os campos obrigatórios (nome, CPF, data de nascimento, e-mail, e CEP), consultar a API ViaCEP para preencher dados de endereço, e exibir as informações cadastradas em uma tabela. O cadastro deve ser realizado de forma intuitiva e estilizada para proporcionar uma boa experiência ao usuário. O CEP, por exemplo, será validado automaticamente para garantir sua existência e irá trazer cidade, bairro, logradouro e estado.
                </p>
                <div class="flex justify-center"><button
                        class="py-2 sm:py-3 px-16 bg-azul-claro text-base sm:text-xl rounded-xl flex items-center flex-row gap-3 hover-group noto-sans-semi"
                        onclick="window.location.href='/register'" i>
                        <img src="img/icons/registerIcon.svg" width="28" height="28" class="hover-group lupaIcon"
                            alt="Lupa">
                        Cadastrar
                    </button></div>
            </div>
        </div>
        <div class="triangulo flex justify-center za">
            <div class="img-modal"><img src="img/formacao2025.jpg" alt=""></div>
        </div>
    </article>
</section>