<app-header/>
<section class="bg-cinza-claro w-screen h-screen flex justify-center ">
    <article
        class="flex flex-row justify-center items-center gap-8">
        <div class="za">
            <div class="img-dev flex justify-center"><img src="img/fotoAlberto.jpg" width="380" height="480"  alt=""></div>
        </div>
        <div class="xl:text-4xl sm:text-3xl text-2xl flex items-center max-w-xl description za">
            <div>
                <p
                    class="mb-5 text-white font-bold px-2 py-2 bg-azul-escuro w-auto text-center rounded-2xl items-center">
                    Lucas Alberto</p>
                <p class="mb-4 sm:mb-8 xl:text-lg sm:text-base text-sm font-medium hanuman-regular">
                    Formado em Técnico em Informática, atualmente estou cursando o bacharelado de Engenharia da Computação e sou integrante da mentoria de tecnologia da. Sou um profissional em desenvolvimento front-end com experiência nas tecnologias essenciais para criar interfaces web dinâmicas e atraentes.
                </p>

            </div>
        </div>
        
    </article>
</section>